.footer {

	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: auto;
	
	padding: 15px;
	
	position: fixed;
	left: 0; bottom: 0;
	
	background-color: rgba(230, 230, 230, 0.6);
	
	font-style: italic;
	font-family: $calendar-font-montserrat;
	
	&-year {
	
		margin-right: 10px;
	
		font-size: 15px;
		font-weight: $calendar-font-weight-regular;

		&:before {

			display: inline-block;

			width: auto;
			height: auto;

			margin-right: 5px;

			content: "\00a9";
		}
	}
	
	&-company {
	
		font-size: 17px;
		font-weight: $calendar-font-weight-semibold;
	}
}

