.header {

	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 100%;
	height: auto;
	
	padding: 30px;
	
	background-color: rgba(230, 230, 230, 0.6);
	
	&-logo {
	
		display: inline-flex;
		align-items: center;
		
		width: auto;
		height: auto;
		
		& > span {

			padding-left: 10px;

			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			font-family: $calendar-font-montserrat;

			border-left: 1px solid black;
		}

		& > i {
		
			color: red;
			
			width: 30px;
			height: auto;

			font-size: 30px;

			margin-right: 10px;

			transform: rotate(-10deg);
		}
	}
	
	&-signout {
		
		display: inline-block;
	
		width: auto;
		height: auto;
	
		font-style: normal;
		font-weight: $calendar-font-weight-semibold;
		font-size: 16px;
		font-family: $calendar-font-montserrat;

		color: red;
	}
}

