{% extends "base.html.twig" %}

    {# head scripts #}
    {% block head_scripts %}

        {{ parent() }}
        {{ encore_entry_link_tags("scripts/dashboard") }}

    {% endblock %}

    {# page content #}
    {% block page_content %}


        <div class="container container-xl">

            <div class="row no-gutters">

                ddd

            </div>

        </div>

    {% endblock %}

    {# footer scripts #}
    {% block footer_scripts %}
        
        {{ parent() }}
        {{ encore_entry_script_tags("scripts/dashboard") }}

    {% endblock %}

