{% extends "base.html.twig" %}

{# head scripts #}
{% block head_scripts %}

    {{ parent() }}
    {{ encore_entry_link_tags("scripts/user-sign-in") }}

{% endblock %}

{% block page_content %}

    <div class="user-sign-in">

        <div class="user-sign-in-form">

            {# header #}
            <div class="user-sign-in-form-header">

                <span>Logowanie</span>

            </div>

            {# body #}
            <div class="user-sign-in-form-body">

				<input type="text" class="user-sign-in-form-field" placeholder="Email">
				
				<input type="password" class="user-sign-in-form-field" placeholder="Hasło">

            </div>

            {# footer #}
            <div class="user-sign-in-form-footer">

                <input type="button" class="user-sign-in-form-button" value="Zaloguj się">

            </div>

        </div>

    </div>

{% endblock %}

{# footer scripts #}
{% block footer_scripts %}
    
    {{ parent() }}
    {{ encore_entry_script_tags("scripts/user-sign-in") }}

{% endblock %}

