{% extends "base.html.twig" %}

{# head scripts #}
{% block head_scripts %}

    {{ parent() }}
    {{ encore_entry_link_tags("scripts/user-sign-in") }}

{% endblock %}

{% block page_content %}

	<div class="container container-xl">

		<div class="user-sign-in">

			<div class="user-sign-in-form">

				{# header #}
				<div class="user-sign-in-form-header">

					<span>Logowanie</span>

				</div>
				
				{# error #}
				<span class="user-sign-in-form-error"></span>

				{# body #}
				<div class="user-sign-in-form-body">

					<input type="text" id="username" class="user-sign-in-form-field" placeholder="Email">
					
					<input type="password" id="password" class="user-sign-in-form-field" placeholder="Hasło">

				</div>

				{# footer #}
				<div class="user-sign-in-form-footer">

					<input type="button" id="send" class="user-sign-in-form-button" value="Zaloguj się">

				</div>

			</div>

		</div>
		
	</div>

{% endblock %}

{# footer scripts #}
{% block footer_scripts %}
    
    {{ parent() }}
    {{ encore_entry_script_tags("scripts/user-sign-in") }}

{% endblock %}

