{% extends "base.html.twig" %}

{# head scripts #}
{% block head_scripts %}

    {{ parent() }}
    {{ encore_entry_link_tags("scripts/user-sign-in") }}

{% endblock %}

{# page content #}
{% block page_content %}

	<div class="container container-xl">

		<div class="user-sign-in">

			{# form #}
			<div class="user-sign-in-form">

				{# header #}
				<div class="user-sign-in-form-header">Logowanie</div>
				
				{# error #}
				<span class="user-sign-in-form-error"></span>

				{# body #}
				<div class="user-sign-in-form-body">

					{# username/email field #}
					<input type="text" id="username" class="user-sign-in-form-field" placeholder="Email" autofocus>
					
					{# password field #}
					<input type="password" id="password" class="user-sign-in-form-field" placeholder="Hasło">

				</div>

				{# footer #}
				<div class="user-sign-in-form-footer">

					<input type="button" id="send" class="user-sign-in-form-button" value="Zaloguj się">

				</div>

			</div>

		</div>
		
	</div>

{% endblock %}

{# footer scripts #}
{% block footer_scripts %}
    
    {{ parent() }}
    {{ encore_entry_script_tags("scripts/user-sign-in") }}

{% endblock %}

