<div class="modal-add-event">

	{# overlay #}
	
		<div class="modal-add-event-overlay"></div>
	
	{# modal #}
	
		<div class="modal-add-event-modal">
		
			{# header #}
		
				<div class="modal-add-event-modal-header">
			
					Nowe wydarzenie
				
				</div>
		
			{# body #}
		
				<div class="modal-add-event-modal-body">
			
					body
				
				</div>
			
			{# footer #}
			
				<div class="modal-add-event-modal-footer">
			
					footer
				
				</div>
		
		</div>

</div>