<div class="modal-add-event">

	{# overlay #}
	
		<div class="modal-add-event-overlay"></div>
	
	{# modal #}
	
		<div class="modal-add-event-modal">
		
			{# header #}
		
				<div class="modal-add-event-modal-header">
			
					Nowe wydarzenie
				
				</div>
		
			{# body #}
		
				<div class="modal-add-event-modal-body">
			
					<input type="text" class="input input-name" placeholder="Nazwa">
					
					<textarea class="textarea textarea-description" placeholder="Opis"></textarea>
				
				</div>
			
			{# footer #}
			
				<div class="modal-add-event-modal-footer">
			
					<input type="button" class="button button-success button-add-event-create" value="Utwórz">
				
				</div>
		
		</div>

</div>