// fonts
$calendar-font-montserrat: 'Montserrat';

// weights
$calendar-font-weight-thin:        100;
$calendar-font-weight-extra-light: 200;
$calendar-font-weight-light:       300;
$calendar-font-weight-regular:     400;
$calendar-font-weight-medium:      500;
$calendar-font-weight-semibold:    600;
$calendar-font-weight-bold:        700;
$calendar-font-weight-extra-bold:  800;
$calendar-font-weight-black:       900;

// font size
$calendar-font-size-base: 16px;