.dashboard {

    display: flex;
    justify-content: center;

    width: 100%;
    height: auto;

    &-events {

        display: block;

        width: 100%;
        height: auto;

        max-width: 900px;

		margin-top: 50px;
		
		margin-left: auto;
		margin-right: auto;
		
        // border-radius: 4px;
        // border: 1px solid #d9d9d9;

		&-list {
		
			display: block;
			
			width: 100%;
			height: auto;
			
			margin-bottom: 35px;
			
			&-column-names {
			
				display: block;
				
				width: 100%;
				height: auto;
				
				border-bottom: 1px solid #d9d9d9;
			
				& .col {
				
					// display: block;
					// text-align: center;

					// width: 20%;
					// height: auto;
					
					padding: 5px;
					
					font-style: normal;
					font-weight: $calendar-font-weight-bold;
					font-size: 16px;
					font-family: $calendar-font-montserrat;
					
					background-color: #e6e6e6;
					
					&:nth-last-child(n + 2) {
					
						border-right: 1px solid #d9d9d9;
					}
				}
			}
			
			&-data {
			
				display: block;
				
				width: 100%;
				height: auto;
				
				& .row {
				
					&:nth-last-child(n + 2) {
					
						border-bottom: 1px solid #d9d9d9;
					}
					
					&:hover {
					
						& > .col {
						
							background-color: rgba(230, 230, 230, 0.7);
						}
					}
				}
				
				& .col {
				
					display: block;
					
					width: 20%;
					height: auto;
				
					font-style: normal;
					font-weight: $calendar-font-weight-medium;
					font-size: 15px;
					font-family: $calendar-font-montserrat;
					
					padding: 5px;
					
					cursor: default;
					
					&:nth-last-child(n + 2) {
					
						border-right: 1px solid #d9d9d9;
					}
					
					& i {
					
						cursor: pointer;
					}
				}
			}
			
		}
		
        &-header {

            width: 100%;
            height: auto;

			padding-bottom: 10px;
			
            margin-bottom: 15px;

            font-style: normal;
			font-weight: $calendar-font-weight-semibold;
			font-size: 20px;
            font-family: $calendar-font-montserrat;
        }

		&-footer {
		
			width: 100%;
            height: auto;
		
			padding-top: 20px;
		
			border-top: 1px solid #d9d9d9;
		}
		
		
		
		
    }
}






































