.dashboard {

    display: flex;
    justify-content: center;

    width: 100%;
    height: auto;

    &-events {

        display: block;

        width: 100%;
        height: auto;

        max-width: 900px;

		margin-top: 50px;
		
		margin-left: auto;
		margin-right: auto;
		
        // border-radius: 4px;
        // border: 1px solid #d9d9d9;

		&-list {
		
			display: block;
			
			width: 100%;
			height: auto;
			
			&-column-names {
			
				// display: flex;
				display: block;
				
				width: 100%;
				height: auto;
				
				margin-bottom: 10px;
				
				// padding: 5px;
			
				& .col {
				
					// display: block;
					// text-align: center;

					// width: 20%;
					// height: auto;
					
					font-style: normal;
					font-weight: $calendar-font-weight-bold;
					font-size: 16px;
					font-family: $calendar-font-montserrat;
				}
			}
			
			&-data {
			
				display: block;
				
				width: 100%;
				height: auto;
				
				margin-bottom: 20px;
				
				& > ul {
				
					display: flex;
			
					padding-left: 0;
					
					& > li {
					
						display: block;
					
						width: 20%;
						height: auto;
					
						font-style: normal;
						font-weight: $calendar-font-weight-regular;
						font-size: 15px;
						font-family: $calendar-font-montserrat;
						
						padding: 5px;
						
						&:nth-child(1),
						&:nth-child(2),
						&:nth-child(3),
						&:nth-child(4) {
						
							text-align: center;
						}
					}
				}
			}
			
		}
		
        &-header {

            display: flex;
            justify-content: center;

            width: 100%;
            height: auto;

			padding-bottom: 10px;
			
            margin-bottom: 15px;

			// border-bottom: 1px solid #d9d9d9;
			
            font-style: normal;
			font-weight: $calendar-font-weight-semibold;
			font-size: 20px;
            font-family: $calendar-font-montserrat;
        }

        
		
		
		
		
    }
}






































