<!DOCTYPE html>

	<html>

	    <head>

			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">


			<title>Kalendarz</title>

			{{ encore_entry_link_tags('styles/main') }}
	        	
        	{% block head_scripts %}{% endblock %}
        		
	    </head>
	    
	    <body>

			{% block page_content %}{% endblock %}
			{% block footer_scripts %}{% endblock %}

	    </body>
	    
	</html>
	        
