<div class="header">

	<a class="header-logo" href="/">

		<i class="far fa-calendar-check"></i>

        <span>Kalendarzyk</span>
		
	</a>

	<a class="header-text header-text-signout" href="{{ path("user.sign_out") }}">Wyloguj</a>
	
</div>